.table {
  width: 150px;
  height: 100px;
  font-family: Calibri;
  border-color: red;
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
}
.button {
  width: 32px;
  height: 30px;
  font-family: Calibri;
}
.sign {
  width: 32px;
  height: 30px;
  background-color: crimson;
  color: white;
  font-family: Calibri;
}
